.panel-main
{
    -fx-background-image: url("/pl/rr/project/s/gui/games/minecraft/ImagesMinecraft/tloMinecraft.png");
    -fx-background-position: center;
    -fx-background-size: 140%;
}

.button {

}
