.panel-main
{
    -fx-background-color:  #1b2838;
}

.text-field-login
{
    -fx-text-inner-color: white;
    -fx-background-color: #1b2838;
    -fx-border-color: #c7d5e0;
    -fx-border-radius: 5%;
}

.button-login
{
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-inner-color: white;
    -fx-background-color: #16212e;
    -fx-border-color: #c7d5e0;
    -fx-border-radius: 5%;
}

.button-register
{
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-text-inner-color: white;
    -fx-background-color: #1b2838;
    -fx-border-color: #1b2838;
}

.check-box-password .box
{
    -fx-background-color: #1b2838;
    -fx-border-color: white;
    -fx-border-radius: 20%;
}

.check-box-password:selected .mark
{
    -fx-background-color: white;
}


/* registerPanel */
.radioButton .radio
{
    -fx-background-color : #1b2838;
    -fx-border-color: white;
    -fx-border-radius: 50%;
}

.radioButton:selected .radio .dot
{
    -fx-background-color: white;
    -fx-background-insets: 0;
}
