.profile-main
{
    -fx-background-color:  #4682B4;
}

/*
.text-field-login
{
    -fx-text-inner-color: white;
    -fx-background-color: #1b2838;
    -fx-border-color: #c7d5e0;
    -fx-border-radius: 5%;
}


.button-login
{
    -fx-font-family: Arial;
    -fx-font-weight: bold;
    -fx-text-inner-color: white;
    -fx-background-color: #16212e;
    -fx-border-color: #c7d5e0;
    -fx-border-radius: 5%;
}

.button-register
{
    -fx-font-family: Arial;
    -fx-font-size: 12px;
    -fx-text-inner-color: white;
    -fx-background-color: #1b2838;
    -fx-border-color: #1b2838;
}*/
